<!DOCTYPE html>
<head>
	<title>New Page</title>
</head>
<body>
	<h1>Add New Liger Below!</h1>
	<form action='/ligers' method="POST">
		<label for="name">Ligers Name: </label><input type="text" name="name"></p>
		<label for="age">Ligers Age: </label><input type="text" name="age"></p>
		<label for="color">Ligers Color: </label><input type="text" name="color"></p>
		<input type="submit" value="Add New Liger">
		<a href="/"><button type="button" name="button">See all Ligers</button></a>
	</form>
</body>
</html>