*{
    text-align: center;
	margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body{
    padding: 1em;
    text-align: left;
    font-size: 1em;
}

input {
    padding: 0.5em;
}

.epic-btn-container {
    margin-top: 50px;
}

.epic-btn {
    border-radius: 20px;
    font-weight: bold;
    background: royalblue;
    color: white;
    padding: 20px 40px;
}

.reset-btn-container {
    margin-top: 100px;
}

.reset-btn {
    background: lightcoral;
    padding: 5px 10px;
}