<html>
	<head>
	</head>
    <body>
       <div id="wrapper">
       	<form action='result' method='post'>
       		<p>Your Name: <input name="name" type="text"></p>
       		<p>Age: <input name="age" type="number"></p>
       	</form>
       </div>
	</body>
</html>