<div class="div">
	<h2>Edit Product</h2>
	<form (submit)="onSubmit(); form.resetForm();"  #form="ngForm" >
  <table >
    <tr>
      <td>Title:</td>
      <td>
        <input 
          type="text" 
          name="title"
          required 
          minlength="1" 
          maxlength="100"
          value="{{product.title}}" 
          [(ngModel)]="product.title"
          #title="ngModel"
        >
        <div *ngIf="title.invalid && (title.dirty || title.touched)"
     class="alert">
          <div *ngIf="title.errors.required">
            Title is required.
          </div>
        </div>
        
      </td>
    </tr>
    <tr>
      <td>Price:</td>
      <td>
        <input 
          type="number" 
          name="price"
          required 
          value="{{product.price}}"
          [(ngModel)]="product.price"
          #price="ngModel"
        >
        <div *ngIf="price.invalid && (price.dirty || price.touched)"
     class="alert">
          <div *ngIf="price.errors.required">
            Price is required.
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>Image URL:</td>
      <td>
        <input 
          type="text" 
          name="image"
          required 
          minlength="4" 
          maxlength="250"
          value="{{product.image}}"
          [(ngModel)]="product.image"
          #image="ngModel"
        >
        
        <div *ngIf="image.invalid && (image.dirty || image.touched)"
     class="alert">
          <div *ngIf="image.errors">
            Image URL is required.
          </div>
        </div>
      </td>
    </tr>
    
    
  </table>
  <div >
  	<button *ngIf="title.invalid || price.invalid || image.invalid" disabled="disabled">Update</button>
	<button *ngIf="title.valid && price.valid && image.valid" >Update</button>
	<button *ngIf="title.invalid || price.invalid || image.invalid" disabled="disabled">Delete</button>
	
  </div>
  </form>
  <button (click)="deleteProduct()" *ngIf="title.valid && price.valid && image.valid" >Delete</button>

</div>
