<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="../images/ferrari.jpg" alt="Ferrari">
			</div>
			<div class="col-md-6">
				<img src="../images/lambo.jpg" alt="lambo">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="/potato" alt="mclaren">
			</div>
			<div class="col-md-6">
				<img src="../images/roadster.jpg" alt="roadster">
			</div>
		</div>
	</div>

</body>
</html>