<!DOCTYPE html>
<html>
<head>
	<title>Cats!</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<img src="../images/kit1.jpg" alt="kit1">
			</div>
			<div class="col-md-6">
				<img src="../images/kit2.jpg" alt="kit2">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<img src="../images/kit3.jpg" alt="kit3">
			</div>
			<div class="col-md-6">
				<img src="../images/kit4.jpg" alt="kit4">
			</div>
		</div>
	</div>

</body>
</html>