<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>new</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h3>New</h3>
    <form>
        <label>Type</label>
        <input type="text" name="Type">
        <label>Cost</label>
        <input type="text" name="Cost">
        <input type="submit" name="submit">
    </form>
</body>
</html>