<!DOCTYPE html>
<html>
<head>
    <title>Epic Button Game</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index-socket.js"></script>
</head>
<body>
    <h1>The button has been pushed <span class='button-count'></span> time(s)</h1>
    <div class='epic-btn-container'>
        <h3>Push the button to update the count!</h3>
        <button class='epic-btn'>Push the epic button</button>
    </div>
    <div class='reset-btn-container'>
        <button class='reset-btn'>RESET</button>
    </div>
</body>
</html>