<html>
<head>
	<title>Unicorns!</title>
</head>
	<body>
	<h1>Create a new Unicorn</h1>
	<form action="/unicorns" id="form" method="post">
		<p>Name: <input name='name' type='text'></p>
		<p>Age: <input name='age' type='number'></p>
		<p>Color: <input name='color' type='text'></p>
		<input type="submit" value="Add My Unicorn">
	</form>
</body>
</html>