<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>Submitted Information</h3>
	<table>
		<tr>
			<td>Name: </td>
			<td><%= name %> </td>
		</tr>
		<tr>
			<td>Dojo Location: </td>
			<td><%= location %></td>
		</tr>
		<tr>
			<td>Favorite Language: </td>
			<td><%= language %></td>
		</tr>
		<tr>
			<td>Comment: </td>
			<td><%= comment %></td>
		</tr>
	</table>
</body>
</html>
