<!DOCTYPE html>
<html>
<head>
	<title>Success</title>
</head>
<body>
	<h3>Success.</h3>
	<% %>
	<p>Name: <%= dojo_user.name %></p>
	<p>Location: <%= dojo_user.location %></p>
	<p>Favorite Language: <%= dojo_user.language %></p>
	<p>Comment: <%= dojo_user.comment %></p>

	<form action="gohome" method="post">
        <p><input type="submit" value="Go Back"/></p>
    </form>
</body>
</html>