<!DOCTYPE html>
<html>
<head>
    <title>Survey Form - Result</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <h1>Submitted Information</h1>
    <p>Name: <%= result.name %></p>
    <p>Dojo Location: <%= result.location %></p>
    <p>Favorite Language: <%= result.language %></p>
    <p>Comment: <%= result.comment %></p>
    <p>
        <button><a href="/">Go Back</a></button>
    </p>
</body>
</html>