<!DOCTYPE html>
<html>
<head>
	<title>Welcome <%= user.first_name %></title>
</head>
<body>
	 <a href="/sessions?_method=DELETE">Logout</a>		
	</form>
	<h4>Welcome <%= user.first_name %></h4>
</body>
</html>