<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Dojo Mail</h1>
</div>
<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Importance</th>
      <th>Subject</th>
      <th>Content</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let email of emails'>
      <td>{{ email.email | lowercase }}</td>
      <td *ngIf="email.importance">High</td>
      <td *ngIf="!email.importance">Low</td>
      <td>{{ email.subject }}</td>
      <td>{{ email.content }}</td>
    </tr>
  </tbody>
</table>

