<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="building">
				<h5>Farm</h5>
				<p>Earns 2 - 5 Gold</p>
				<button (click)="farm()">Farm!</button>
			</div>
			<div class="building">
				<h5>Cave</h5>
				<p>Earns 5 - 10 Gold</p>
				<button (click)="cave()">Cave!</button>
			</div>
			<div class="building">
				<h5>Casino</h5>
				<p>Earn up to or lose 100 Gold</p>
				<button (click)="casino()">Casino!</button>
			</div>
			<div class="building">
				<h5>House</h5>
				<p>Earns 7 - 15 Gold</p>
				<button (click)="house()">House!</button>
			</div>
		</div>
	</div>
</div>
