<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action = '/coyotes' method="POST">
		Name: <input type="text" name = "name">
		Color: <input type="text" name = "color">
		<button>Submit</button>
	</form>
	<a href="/">HOME</a>

</body>
</html>