<html>
<head>
 <title></title>
</head>
<body>
 <h3>Add a Quote!</h3>
 <form class='form' action='/quotes' method='post'>
    Name: <input class='form-control' type='text' name='name'>
    Quote! <textarea class='form-control' type='text' name='quote'></textarea>
    <input type="submit" value="Submit">
  <a href="/main" role="button">To the Quotes</a>
 </form>
</body>
</html>
