.div{
	background-color: whitesmoke;
	font-family: arial;
	height: 500px;
	border: 2px solid green;
	padding: 10px 10px 10px 10px;
	width: 1000px ;
  	margin-left: auto ;
  	margin-right: auto ;
  	margin-top: 20px;
}

.alert{
	color: red;
	display: inline-block;
}