<!--The content below is only a placeholder and can be replaced.-->
<div class="container" style="text-align:center">
    <div class="row">
        <div class="col-md-12">
            <h1>   {{ title }}   </h1>
            <br>
            <div class="box" *ngFor="let box of boxArray; let idx = index">
              <div>
              <button  
                  *ngIf="box" 
                  [ngClass]="{'on': box }"
                  (click)="toggle(idx)">
                  ON
              </button>
              <button  
                  *ngIf="!box" 
                  [ngClass]="{'off': !box }"
                  (click)="toggle(idx)">
                  OFF
              </button>
            </div>
        </div>
    </div>
</div>
