<!DOCTYPE html>
<head>
	<title>Counter</title>
</head>
<body>
	<h1>Counter</h1>
	<h5><%= count %> times.</h5>
	<form action='/add2' method='post'>
		<input type="submit", value="add2">
	</form>
	<form action='/reset' method='post'>
		<input type="submit", value="reset">
	</form>
</body>
</html>