<div class="div">
	<form (submit)='onSubmit(); ' #form='ngForm'>
		<div *ngIf="content.invalid && (content.dirty || content.touched)"
     class="alert">
          <div *ngIf="content.errors">
            Content is required.
          </div>
        </div>
		<label for="">Note:</label>
		<input 
		type="text" 
		name="content"
		minlength="4" 
        maxlength="300"
		required
		[(ngModel)]='note.content'
		#content="ngModel"
        >
        
		<button type="submit" [disabled]='!form.valid' >Add Note</button>
	</form>

</div>