<!DOCTYPE html>
<html>
<head>
    <title>Mongoose Dashboard - Add Bear</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
    <form action="/bears" method="post">
        <p>Name: <input type="text" name="name"></p>
        <p>Age: <input type="number" name="age"></p>
        <p>
            <input type="submit" value="Add Bear">
            <button><a href="/">All Bears</a></button>
        </p>
    </form>
</body>
</html>