<!DOCTYPE html>
<html>
	<head>
		<title>Survey Form</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<body>
		<div id='wrapper'>
			<div class='form_wrapper'>
				<h4>Submitted Information</h4>
				<p>Name: <%= name %></p>
				<p>Dojo Location: <%= location %></p>
				<p>Favorite Language: <%= language %></p>
				<p>Comment: <%= comment %></p>
				<form action='/'>
				<p><button>HOME</button></p>
				</form>
			</div>
		</div>

	</body>
</html>