<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Dojo Weather Forecast
  </h1>
</div>
<div>
  <a [routerLink]="['cities/seattle']">Seattle WA</a> | 
  <a [routerLink]="['cities/sanjose']">San Jose CA</a>|
  <a [routerLink]="['cities/burbank']">Burbank CA</a>|
  <a [routerLink]="['cities/dallas']">Dallas TX</a>|
  <a [routerLink]="['cities/washington']">Washington DC</a>|
  <a [routerLink]="['cities/chicago']">Chicago IL</a>
</div>
 


<router-outlet></router-outlet>
