<!DOCTYPE html>
<head>
    <title>new</title>
</head>
    <body>
        <h3>Add kitty</h3>
        <form action='/kitty' method="POST">
            <label for="name">Name: </label><input type="text" name="name"></p>
            <label for="age">Age: </label><input type="text" name="age"></p>
            <label for="color">Color: </label><input type="text" name="color"></p>
            <input type="submit" value="Add Kity">
        </form>
        <a href="/"><button type="button" name="button">All Kitties</button> </a>


    </body>
</html>