<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mongoose Dashboard</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<h1>Show Animal!</h1>
	<% if(typeof(errors) != 'undefined' ) { %>
	     <% for (var x in errors) { %>
	      <h3><%= errors[x].message %></h3>
	     <% } %>
	 <% } %>
		<table>
			<tr>
				<td><label for="">Name:</label></td>
				<td><%= animal.name %>	</td>
			</tr>
			<tr>
				<td><label for="">Weight:</label></td>
				<td><%= animal.weight %>	</td>
			</tr>
			<tr>
				<td><label for="">Height:</label></td>
				<td><%= animal.height %></td>
			</tr>
		</table>
	<button><a href="/">Dashboard</a></button>
</body>
</html>