<!DOCTYPE html>
<html>
<head>
	<title>Counter</title>
</head>
<body>
	<div>
		<h1>Counter</h1>
		<h5><%= counter %></h5>

	</div>
	<div>
		<form action="plusTwo" method="post">
			<button type="submit">Add 2!</button>
		</form>
	</div>
	<div>
		<form action="reset" method="post">
			<button type="submit">Reset!</button>
		</form>
	</div>
</body>
</html>