<div id = "gold">
  <h2>Gold Count: {{ gold }}</h2>
</div>

<div class="box">
<h4>Farm</h4>
<p>Earns 2 - 5 Gold.</p>
<button (click) = "onclick('farm')">Farm!</button>
</div>

<div class="box">
<h4>Cave</h4>
<p>Earns 5 - 10 Gold.</p>
<button (click) = "onclick('cave')">Cave!</button>
</div>

<div class="box">
<h4>Casino</h4>
<p>Earns/Loses up to 100 Gold.</p>
<button (click) = "onclick('casino')">Casino!</button>
</div>

<div class="box">
<h4>House</h4>
<p>Earns 7 - 15 Gold.</p>
<button (click) = "onclick('house')">House!</button>
</div>