<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Index.html</title>
</head>
<body>
	<div>
		<form action="/submit" method="post">
			<input type="text" name="first_name">
			<button type="submit">Send</button>
		</form>
	</div>
	<div>
		Hit Counter:

	</div>

</body>
</html>