<html>
<head>
	<title>Show Me a Unicorn...</title>
</head>
	<body>
	<h1>Show me a Unicorn...</h1>
	<p>Name: <%= unicorn.name %></p>
	<p>Age: <%= unicorn.age %></p>
	<p>Color: <%= unicorn.color %></p>

	<a href="/unicorns/edit/<%= unicorn._id %>">Edit this Beast</a>
</body>
</html>